.form{
    padding: 1rem;
}

.title-heading{
    text-align: center;
    font-size: 1.8rem;

}

/*#region */
.form label:not([class = "radio-label"]),
.form input:not([type="radio"]),
.form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}
/*#endregion */

.form input[type="checkbox"],
.form input[type="checkbox"] + label {
    display: inline-block;

}

.form input,
.form select{
    border: 1px solid black;
    border-radius: .2rem;
    background: lightgrey;
    padding: .5rem .2rem;
    font: inherit;
}

.form input:focus,
.form select:focus {
    border: 2px;
}

 .form-update-btn {
  color: white !important;
  background: #6200ea !important;
}


.form button {
    display:block;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: .2rem;
    background: lightgrey;
    padding: .4rem;
}

.form label,
.form p{
    font-weight: bold;
}

@media(min-width: 40rem){
    .form{
        margin: auto;
        width: 25rem;
    }
}

.py-0 {
  border: 1px solid #6200ea ;
  border-radius: 5px;
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }


